.content {
  display: flex;
  margin: auto;
  width: 60%;
  justify-content: center;
  align-items: center;
  margin-bottom: 11vh;
}
.content p {
  text-align: center;
  width: 80%;
  font-size: x-large;
  margin-right: 20PX;
}
.featured {
  display: flex;
  justify-content: space-evenly;
}
.card {
  margin-left: 50px;
  margin-right: 50px;
  border-radius: 10px;
}
.featured p {
  text-align: center;
}