.container {
    display: flex;
    margin: auto;
    width: 70%;
    justify-content: center;
    align-items: center;
    margin-bottom: 12vh;
}
.details {
    width: 50%;
    margin-right: auto;
}
p {
    font-size: x-large;
}
.card {
    margin: 50px;
    border-radius: 10px;
}
